.post--board {

	display: flex;

	flex-wrap: wrap;

	&>* {

		flex-grow: 1;

	}

}

.post {

	position: relative;

	display: inline-block;

	margin-right: 10px;
	margin-bottom: 10px;

	padding: @small-padding;
	
	border-radius: @small-radius;
	
	width: 250px;
	height: 250px;
	
	color: @white;
	text-decoration: none;
	background-color: @black;

	box-shadow: @shadow;

	@media only screen and (max-width: @medium-media) {

		margin-right: 5px;
		margin-bottom: 5px;

		flex-grow: 0;

		width: 100%;
		height: auto;
		min-height: 150px;

		.post__type {

			font-size: 10px;

		}

		.post__title {

			font-size: 20px;

		}

	}

	&:hover {

		background-color: @blue;

	}

	&.web_only {

		&:after {

			content: "Web Only";

			position: absolute;

			right: 0;
			bottom: 0;

			display: block;

			margin: 10px;

			border-radius: @small-radius;

			width: 125px;
			height: 50px;

			font-size: 17px;
			text-align: center;
			line-height: 50px;

			background-color: @pink;

			@media only screen and (max-width: @medium-media) {

				width: 125px / 1.5;
				height: 50px / 1.5;

				font-size: 12px;
				line-height: 50px / 1.5;

			}

		}

	}

	cursor: pointer;
	overflow: hidden;
	transition: 0.2s all;

}

.post__type {

	display: block;

	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;

}

.post__title {

	display: block;

	font-size: 27px;
	font-weight: 300;

}
