<div class="app__preview">
	
	<div class="app__preview__pop">
		
		<a href="#{{ path(featured) }}" class="app__preview__information">
			
			<img {% if featured.acf.image %} src="{{ featured.acf.image.url }}" alt="{{ featured.acf.image.alt }}" {% endif %}>
			
			<div class="content">
				
				<span class="post__type">{{ getPostType(featured) }}</span>
				<span class="post__title">{{ featured.title.rendered }}</span>
				
			</div>
			
		</a>
		
		<div class="app__preview__description">
			
			<span>{{ featured.excerpt.rendered or "No preview available" }}</span>
			
			<br>
			
			<a href="#{{ path(featured) }}" class="btn medium">Take a Look</a>
			
		</div>
		
	</div>
	
</div>

<div class="app__main">
	
	<div class="app__main__pop post--board">

		{% for post in posts %}

			<a href="#/read/{{ path(post).split('/')[2] }}" class="post {% if post.acf.web_only %} web_only {% endif %}" {% if post.acf.image %} alt="{{ post.acf.image.alt }}" style="background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('{{ post.acf.image.url }}'); background-size: cover;" {% endif %} role="button">
			
				<span class="post__type">{{ getPostType(post) }}</span>
				<span class="post__title">{{ post.title.rendered }}</span>

			</a>

		{% endfor %}

		<!-- <div class="post">
			
			<span class="post__type">snippet</span>
			<span class="post__title">Maitro's Vaporwave Journey</span>
			
		</div>
		
		<div class="post">
			
			<span class="post__type">fiction</span>
			<span class="post__title">Windows XP Adventures</span>
			
		</div>
		
		<div class="post">
			
			<span class="post__type">non-fiction</span>
			<span class="post__title">Vaporwave's Consumerism</span>
			
		</div>
		
		<div class="post">
			
			<span class="post__type">team</span>
			<span class="post__title">Check out our new Website!</span>
			
		</div>
		
		<div class="post">
			
			<span class="post__type">ducks</span>
			<span class="post__title">Aren't Ducks Cheeky Boys?</span>
			
		</div> -->
		
	</div>
	
</div>

{{ footer }}
