<div class="app__main">
	
	<div class="app__main__pop app__read">

		<span class="read__type">{{ getPostType(post) }}{% if post.acf.web_only %} | WEB ONLY {% endif %}</span>
		<span class="read__title">{{ post.title.rendered }}</span>

		{{ post.content.rendered }}

	</div>
	
</div>

{{ footer }}
